@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  height: 100vh;
  width: 100vw;
  background: #af4319;
  display: flex;
  align-items: center;
  padding: 0 20%;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-right: 40%;
}

.music-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 2rem 3rem 1rem;
  transition: 0.2s;
  margin-bottom: 0.5rem;
}

.music-card h3 {
  color: white;
  cursor: default;
}

.music-card:hover {
  filter: brightness(0.9);
}

.music-card button {
  margin-left: 2rem;
}

.music-card button img {
  height: 2rem;
  width: 2rem;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

.player .music-info {
  background-color: rgba(0, 0, 0, 0.3);
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;
}

.player button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.player button:disabled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  filter: brightness(0.7);
}

.player img {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
}

.player .music-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player .music-info p {
  color: white;
  font-weight: bold;
}

.clientes {
  position: fixed;
  top: 2rem;
  right: 2rem;

  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 0.75rem;
  color: white;
  font-weight: bold;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);

  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.modal h3 {
  margin-bottom: 1rem;
}

.modal-overlay.visible {
  visibility: visible;
  display: flex;
}

.modal {
  min-height: 40%;
  height: fit-content;
  min-width: 40%;
  background: #af4319;
  border-radius: 1rem;
padding: 2rem;
  color: white;
}

.play-remote {

  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: rgba(255, 255, 255, 0.4);
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal form div {
  width: fit-content;
}

.modal h4 {
  margin-top: 1rem;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.cancel-modal {
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: rgba(255, 255, 255, 0.4);
}
